@import url("https://fonts.googleapis.com/earlyaccess/cwtexyen.css");
@font-face {
    font-family: 'jf-openhuninn-2.0';
    src: url('../css/jf-openhuninn-2.0.ttf') format("truetype");
  }

* {
    box-sizing: border-box;
    font-family: "jf-openhuninn-2.0", monospace;
}

td {
    text-align: center;
    border: 1px solid black;
    padding: 8px;
}

th {
    position: sticky;
    top: 0;
    border: 1px solid black;
    padding: 8px;
    background-color: #FFFFFF;
  }